.paintapp-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 80px;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background-color: #f0ffff;
}
.paintapp-header ul {
  display: flex;
  gap: 20px;
  width: 100%;
}
.paintapp-header a {
  color: #000;
}
.color-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}
.current-color-container {
  display: flex;
  align-items: normal;
}
.colors-container {
  display: flex;
  flex-direction: column;
  column-gap: 50px;
}
.paintapp-header a {
  text-decoration: none;
}

.paintapp-header li {
  list-style: none;
}

.no-decoration {
  text-decoration: none;
}

.canvas-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.canvas-container canvas {
  margin: 40px;
  cursor: url(./icons/pencil.png) 0 34, auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.current-color {
  width: 40px;
  height: 40px;
  margin: 1px;

  border: 1px solid gainsboro;
  cursor: pointer;
  border-radius: 20px;
}

.color {
  width: 27px;
  height: 27px;
  margin: 1px;

  border: 1px solid gainsboro;
  cursor: pointer;
  border-radius: 14px;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 336px;
}

.edit {
  position: fixed;
  bottom: 40px;
  left: 20%;
  z-index: 10;
}

.file {
  position: fixed;
  bottom: 40px;
  right: 20%;
  z-index: 10;
}

.save-button {
  cursor: pointer;
}

.modal-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 10;
}

.projects-container {
  overflow: auto;
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 10px;
  width: 600px;
}

.project-card {
  width: 100px;
  height: 100px;
  margin: 20px;
  cursor: pointer;
  text-align: center;
}

.project-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
