<div class="row"></div>

<div class="row">

    <div class="col-md-6 col-sm-6 col-lg-6">
        <img src="assets/homepic.JPG" width="450" height="450" class="rounded-circle">
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
        <br><br><br>
        <p class="text-muted"> Full Stack Developer</p>
        <p class="display-6">Prosper Julius Mavunga</p>
        <p class="text-justify"> I am full stack developer passionate about helping business achieve their digital transformation. Currently has over
             2 years of experience in mainly CSS, HTML (Bootstrap),
             JavaScript( Angular), and Java(Springboot). Obsessed with application performance, user experience, and simplicity </p>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <button class="btn btn-secondary"> Download CV </button>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4">
                <button class="btn btn-secondary"> Contact </button>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2 col-lg-2"></div>


</div>
<div>
    <div class="row">
        <p class="display-6">What I do</p>
    </div>

</div>
<div class="row">

    <div class="col-md-6 col-sm-6 col-lg-6">
        <p class="font-weight-bold text-muted">Software Development</p>
        <p>I build software from scratch and maintain software. I have been building software with Java, Typescript and
            Java on cloud platforms like AWS and AZURE</p>
        <br>
        <br>

    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">

        <p class="font-weight-bold text-muted">Consulting</p>
        <p>Helping businesses achieve growth through digital 
            transformation is something I am passionated about. I do offer
             one to one consulting for solution implementation problem for example best tools to use</p>
        <br>
        <br>
    </div>
</div>