<div class="container">
    <br /><br />

    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <br><br>
            <img src="assets/homepic.jpg" width="400px" height="500px" class="rounded-circle" />
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <br /><br /><br />
            <p>Full Stack Developer</p>
            <p class="display-6">Prosper Julius Mavunga</p>
            <p class="text-justify text-muted">
                I am a full stack developer with over 2 years of experience in
                developing and maintaining applications with TypeScript( Angular and React),
                Java(Springboot), SQL(PostgreSQL, MySQL), NoSQL (Mongodb) CSS, and HTML
                (Bootstrap) .Obsessed with application performance, user experience, and
                simplicity
            </p>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <button routerLink="/resume" class="btn btn-primary btn-rounded">
                        Download CV
                    </button>
                </div>
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <button class="btn btn-primary btn-rounded">Contact</button>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div>
            <p class="display-6 p-movetoright">What I do</p>

    </div>
    <div class="container-flex">
        <div class="home-card">
            <p class="font-weight-bold p-centered">Software Development</p>
            <hr class="line-faint">
    
            <p class="p-centered">
                I build and  maintain software for businesses with technologies such as 
                Java, Angular, React and Springboot.
            </p>
        </div>
        <div class="home-card">
            <p class="font-weight-bold p-centered">Devops</p>
            <hr>
            <p class=" p-centered">
                I specialize in minimizing deployment time to production by implementing CI/CD pipelines and optimize your cloud cost on AWS and AZURE.
            </p>
        </div>
        <div class="home-card">
            <p class="font-weight-bold p-centered">Consulting</p>
            <hr>
            <p class="p-centered">
                Helping businesses achieve growth through digital transformation is
                something I am passionate about. I offer consulting services to
                businesses. To inquire about my services you can contact me
                <a href="mailto:prmavhunga@gmail.com"> here </a>for more information.
            </p>
        </div>
    </div>
    <br /><br />
</div>

