<div class="container">
    <br><br>

    <div class="row">

        <div class="col-md-6 col-sm-6 col-lg-6">
            <img src="assets/homepic.JPG" width="450" height="450" class="rounded-circle">
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <br><br><br>
            <p> Full Stack Developer</p>
            <p class="display-6">Prosper Julius Mavunga</p>
            <p class="text-justify text-muted"> I am a full stack developer with over
                2 years of experience in developing and maintaining applications with TypeScript( Angular), Java(Springboot), SQL(PostgreSQL, MySQL), NoSQL (Mongodb)
                CSS, and HTML (Bootstrap)
                .Obsessed with application performance, user experience, and simplicity </p>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <button routerLink="/resume" class="btn btn-primary">Download CV</button>
                </div>
                <div class="col-md-4 col-asm-4 col-lg-4">
                    <button class="btn btn-primary"> Contact </button>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-lg-2"></div>


    </div>
    <br><br>
    <div>

        <div class="row">
            <p class="display-6">What I do</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <p class="font-weight-bold ">Software Development</p>
            <p class="text-muted">I build software from scratch and maintain software for businesses with Java,
                Typescript and
                Java on cloud platforms like AWS and AZURE</p>
            <br>
            <br>

        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <p class="font-weight-bold">Consulting</p>
            <p class="text-muted">Helping businesses achieve growth through digital
                transformation is something I am passionate about. I offer consulting services to businesses. To inquire about my services you can  contact me <a href="mailto:prmavhunga@gmail.com"> here
                </a>for more information</p>
            <br>
            <br>
        </div>
    </div>
</div>
<br><br>