<br><br><br>
<div class="row">

    <div class="col-lg-2 col-md-2 col-sm-2">

    </div>
    <div class="col-lg-10 col-md-10 col-sm-10">
        <form>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <input type="text" required class="form-control" placeholder="Full Name">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <input type="email" required class="form-control" placeholder="example@example.com">
                </div>
            </div>
            <br>
            <div class="row">


                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input type="text" class="form-control" required  placeholder="Subject">
                </div>

            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">

                    <textarea name="textarea" rows="10" required cols="30" class="form-control"
                        placeholder="Place your message here"></textarea>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <button class="btn btn-primary"> Send</button>
                </div>

            </div>
        </form>
    </div>
</div>
<br>
